<%= render "shared/third-header" %>
<div class='body-black'>
  <div class='content'>
    <div class = 'form-content-white'>
      <h2 class='studio-new-edit-title'>部屋情報編集</h2>
      <%= render partial: 'form', locals: {url: studio_space_path(@space.id, studio_id: @space.studio.id), method: :patch} %>
    </div>
  </div>
</div>