<%= render "shared/third-header" %>
<div class='body-black'>
  <div class='content'>
    <div class = 'form-content-white'>
      <h2 class='form-new-edit-title'>部屋新規登録</h2>
      <%= render partial: 'form', locals: {url: studio_spaces_path, method: :post} %>
    </div>
  </div>
</div>