.spaces-list-title {
  display: block;
  border-bottom: 3px dotted #fffffe;
  padding: 5px 15px;
  margin: 20px 0 0;
  font-size: 22px;
  background-color: #00473e;
  color: #fffffe;
}

.spaces-list {
  margin: auto;
  background-color: #00473e;
}

.space-empty-alert {
  color: #fffffe;
  font-size: 20px;
  display: block;
  padding: 10px 30px;
  
}

.space-new-btn {
  text-align: center;
  background-color: #fa5246;
  font-size: 24px;
  width: 300px;
  font-weight: bold;
  margin: 10px auto;
  padding: 20px 10px;
  border-radius: 10px;
  text-decoration: none;
}