/*ナビゲーションstart*/
.navbar {
  margin: 10px 0;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #00473e;
}


.nav-lists li {
  width: 184px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav-list-deco-none {
  text-decoration: none;
}

.active {
  background-color: #00473e;
  color: #fffffe;
}

.inactive {
  background-color: lightgray;
  color: #475d5b;
}
/*ナビゲーションend*/