<%= render "shared/third-header" %>
<div class='body'>
  <div class='content'>
    <div class='mypage-content-manager'>
      <h2 class='mypage-title-manager'>スタジオ情報登録状況</h2>
      <% if @manager.studio == nil%>
        <p>SecureStudioSpaceにご登録いただきありがとうございます。</p>
        <p>スタジオの登録が完了しておりません。下記ボタンからスタジオ登録をお願いいたします。</p>
        <p><%= link_to "スタジオ新規登録", new_studio_path, class:"form-submit-btn-manager" %></p>
      <% else %>
        <p>SecureStudioSpaceをご活用いただき毎度ありがとうございます。下記のスタジオをご登録いただいております。</p>
        <p>スタジオ・お部屋の情報を編集するには、各ページの「編集」ボタンからお願いいたします。</p>
        <%= render partial: 'studios/studio', locals: {studio: @manager.studio} %>
      <% end %>
    </div>
  </div>
</div>