<%= render "shared/third-header" %>
<div class='body-reservation-pink'>
  <div class='content'>
    <div class = 'form-content-white'>
      <h2 class='form-new-edit-title'>部屋新規登録</h2>
      <%= render partial: 'form', locals: {url: studio_space_reservations_path, method: :post} %>
    </div>
  </div>
</div>
<%#= form_with model:[@studio, @space], local: true do |f| %>