<%= render "shared/third-header" %>
<div class='body'>
  <div class='content'>
    <div class = 'form-content'>
      <h2 class='form-new-edit-title'>スタジオ情報新規登録</h2>
      <%= render partial:"form" %>
    </div>
  </div>
</div>