.mypage-content-user {
  width: 900px;
  margin: auto;
}

.mypage-title-user {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 30px auto 20px;
  font-weight: bold;
  border-bottom: 2px solid #00332c;
  color: #00473e;
  width: 500px;
  padding: 10px;
}

.mypage-user-sentence {
  width: 500px;
  margin: auto;
}

.reservation-list-user {
  margin: auto;
  width: 900px;
  table-layout: fixed;
  word-wrap: break-word;
}

.reservation-list-user tr:nth-child(even) {
  background-color: lightgray;
}

.reservation-list-user th, .reservation-list-user td {
  border: 1px solid #475d5b;
  padding: 5px;
}

.reservation-list-user th {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #475d5b;
}


.reservation-num {
  width: 100px;
  text-align: end;
}

.reservation-studio-name {
  width: 190px;
}

.reservation-room-name {
  width: 190px;
}

.reservation-time {
  width: 300px;
  text-align: center;
}

.reservation-price {
  width: 100px;
  text-align: end;
}

.user-registration-info {
  width: 500px;
  margin: auto;
}

.user-registration-detail {
  width: 480px;
  margin: auto;
  table-layout: fixed;
  word-wrap: break-word;
}

.user-registration-detail-th {
  width: 70px;
  padding: 5px;
}

.user-registration-detail-td {
  width: 220px;
  padding: 10px;
}